<h1>Auction Live</h1>
<p>Explore on the world's largest & best Bidding marketplace with our beautiful Bidding<br>
    products.We want to be a part of your smile , success and future growth. </p>
    <div class="row">
      <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img src="{%static 'pic1.jpg'%}" class="card-img-top" alt="...">
      <div class="card-body1">
        <h5 class="card-title">Couple Wedding Ring</h5>
        <p class="card-text">Current bid: 6,073.1$</p>
        <a href="#" class="btn btn-primary">Place A Bid</a>
        
        <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
        </svg>
      </div>
    </div>
      </div>


      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="{%static 'pic2.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body1">
            <h5 class="card-title">Alarm Clock 1990's</h5>
            <p class="card-text">Current bid:  497.0$</p>
            <a href="#" class="btn btn-primary">Place A Bid</a><svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
              <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
            </svg>
          </div>
        </div>
          </div>

          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <img src="{%static 'pic3.jpg'%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Preimium 1988 Typewriter</h5>
                <p class="card-text">Current bid: 574.0$</p>
                <a href="#" class="btn btn-primary">Place A Bid</a>
                <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                </svg>
              </div>
            </div>
              </div>

              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <img src="{%static 'pic4.jpg'%}" class="card-img-top" alt="...">
                  <div class="card-body1">
                    <h5 class="card-title">Macbook Pro 2018</h5>
                    <p class="card-text">Current bid: 12,761.0$</p>
                    <a href="#" class="btn btn-primary">Place A Bid</a>
                    <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                      <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                    </svg>
                  </div>
                </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                      <img src="{%static 'pic5.jpg'%}" class="card-img-top" alt="...">
                      <div class="card-body1">
                        <h5 class="card-title">Black Analogue Watch</h5>
                        <p class="card-text">Current bid: 2,104.0$</p>
                        <a href="#" class="btn btn-primary">Place A Bid</a>
                        <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                          <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                        </svg>
                      </div>
                    </div>
                      </div>

                      <div class="col-md-4">
                        <div class="card" style="width: 18rem;">
                          <img src="{%static 'pic6.jpg'%}" class="card-img-top" alt="...">
                          <div class="card-body1">
                            <h5 class="card-title">Ford Shelby White Car</h5>
                            <p class="card-text">Current bid: 20,414.0$</p>
                            <a href="#" class="btn btn-primary">Place A Bid</a>
                            <svg  style="margin-left: 100px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                              <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                            </svg>
                          </div>
                        </div>
                          </div>
    </div>

   

    
{% comment %}
{% task2 %}
{% endcomment %}

    
    <h1>Up Comming Auction</h1>
    <p>Explore on the world's best & largest Bidding marketplace with our beautiful Bidding<br>
         products. We want to be a part of your smile, success and future growth.</p>

  
    
         <div class="row">
         <div class="col-md-4">
         <div class="card" style="width: 18rem;">
            <img src="{%static '.x.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body2">
              <p-1>Accessories</p-1>
              <h5>Couple Wedding Ring</h5>
              <p class="card-text">Current Bid: 6,073.1$</p>
              <a href="#" class="btn btn-primary">View Details</a>
              <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
              </svg>
            </div>
          </div>
          </div>


          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
               <img src="{%static '.x2.jpg'%}" class="card-img-top" alt="...">
               <div class="card-body2">
                 <p-1>Accessories, Electronics</p-1>
                 <h5>Alarm Clock 1990’s</h5>
                 <p class="card-text">Current Bid: 497.0$</p>
                 <a href="#" class="btn btn-primary">View Details</a>
                 <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                  <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                </svg>
               </div>
             </div>
             </div>


             <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                 <img src="{%static '.x3.jpg'%}"class="card-img-top" alt="...">
                 <div class="card-body2">
                  <p-1>Accessories, Electronics</p-1>
                  <h5>Premium 1998 Typewriter</h5>
                   <p class="card-text"> Current Bid:  574.0$ </p>
                   <a href="#" class="btn btn-primary">View Details</a>
                   <svg style="margin-left:100px ;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                  </svg>
                 </div>
               </div>
               </div>

<span><a href="#" class=" btn btn-primary">View All</a></span>




     
{% comment %}
{% task3 %}
{% endcomment %}


     <h1>Our Recent News</h1>
 <p>Explore on the world's best & largest Bidding marketplace with our beautiful Bidding<br>
     products. We want to be a part of your smile, success and future growth.</p>

     <div class="row">
      <div class="col-md-4">

     <div class="card" style="width: 20rem;">

      <div class="date-mark">   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 3h-1V1h-2v2H8V1H6v2H5C3.897 3 3 3.897 3 5v16c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM5 21V10h14l.002 11H5zM19 8H5V5h14v3z"/></svg>
        October 29, 2022

       </div>
      

        <img src="{%static 'picx.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body3">
           <h5 class="card-title">An Introvert’s Guide to Be Successful at Work</h5>
           <p class="card-text d-flex align-items-center"></p>
           <img src="{% static 'picx4.jpeg' %}" class="rounded-circle mr-2" alt="Display Picture" width="25" height="25">
           <a href=""> Egens Lab</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
            </svg>
            <p-1>1 Comments</p-1> <i class="fas fa-comment ml-2"></i>
        
        
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 20rem;">

        <div class="date-mark">   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 3h-1V1h-2v2H8V1H6v2H5C3.897 3 3 3.897 3 5v16c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM5 21V10h14l.002 11H5zM19 8H5V5h14v3z"/></svg>
          October 29, 2022

         </div>

        <img src="{%static 'picx2.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body3">
           <h5 class="card-title">Why You Should (Often) Pay More for Links</h5>
           <p class="card-text d-flex align-items-center"></p>
           <img src="{% static 'picx4.jpeg' %}" class="rounded-circle mr-2" alt="Display Picture" width="25" height="25">
           <a href=""> Egens Lab</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
                                            
          </svg>
          <p-1>0 Comments</p-1> <i class="fas fa-comment ml-2"></i>
        
        
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <div class="date-mark">   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M19 3h-1V1h-2v2H8V1H6v2H5C3.897 3 3 3.897 3 5v16c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM5 21V10h14l.002 11H5zM19 8H5V5h14v3z"/></svg>
           October 29, 2022

          </div>
        <img src="{%static 'picx3.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body3">
           <h5 class="card-title">David Droga Still Has Faith in Online Creative.</h5>
           
           <p class="card-text d-flex align-items-center"></p>
           <img src="{% static 'picx4.jpeg' %}" class="rounded-circle mr-2" alt="Display Picture" width="25" height="25">
            <a href=""> Egens Lab</a> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
              <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1z"/>
              </svg>
              <p-1>0 Comments</p-1> <i class="fas fa-comment ml-2"></i>
        
           
        </div>
      </div>
    </div>
    </div>
    

