body{
    background-color: #0d0c0a;;
}
h1{
    text-align: center;
    margin-top: 5%;
    color: aliceblue;
}
p{
    text-align: center;
    color: aliceblue;
}
.card-body{
    background-color: black;
    svg{
        color: aliceblue;
    }
    p{
        margin-right: 100px;
        margin-left: -1px;
        margin-top: 20px; 
         }
         h5{
            color:aliceblue;
            margin-top: 10px;
             }
             a{
                background-color: green;
                border-color: aliceblue;
             }
    
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
    margin-top: 5%;
}

