<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static 'ck.css' %}">
</head>
<body>
    <div class="card">
        <img src="{% static 'img4.png' %}" alt="Sample Image">
    </div>
   <br>
   <br>
    <div class="card">
        <div class="card-image">
            <img src="{% static 'img7.png' %}" alt="Image Description">   <img src="{% static 'img8.png' %}" alt="Image Description"> <img src="{% static 'img9.png' %}" alt="Image Description"> <img src="{% static 'img10.png' %}" alt="Image Description"> <img src="{% static 'img11.png' %}" alt="Image Description"> <img src="{% static 'img12.png' %}" alt="Image Description"> <img src="{% static 'img13.png' %}" alt="Image Description"> <img src="{% static 'img14.png' %}" alt="Image Description"> <img src="{% static 'img16.png' %}" alt="Image Description"> <img src="{% static 'img17.png' %}" alt="Image Description">            
        </div>
    </div>


</body>
</html>