


h1{
    text-align: center;
    margin-top: 5%;
    color: aliceblue;
}
p{
    text-align: center;
    color: aliceblue;
}
.card-body{
    background-color: black;
    svg{
        color: aliceblue;
    }
    p{
        margin-right: 90px;
        margin-left: -1px;
        margin-top: 20px; 
         }
         h5{
            color:aliceblue;
            margin-top: 10px;
             }
             a{
                background-color: green;
                border-color: green;
             }
    
}
.row{
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
    margin-top: 5%;
}
.card {
    overflow: hidden; 
}
.card-img-top {
        transition: transform 0.2s;
    }
    .card-img-top:hover {
        transform: scale(1.1); 
        
    }
     
     span .btn{
        width: 100px;
        align-items:center;
        
        margin-top: 30px;
        margin-left:40px ;
        background-color: green;
        border-radius: 5px;
        border-color: green;
     }

 