
       body{
        background-color: black;
       }
        h1 { 
        text-align: center;
        margin-top:5% ;
        color:cornsilk; 
}
        p {
             text-align: center;
             margin-top: 1%;
             margin-bottom: 40px;
             color:cornsilk ; 
         }
.card-body{
    background-color: black;
    p{
        margin-right: 100px;
        margin-left: -1px;
    }
    h5{
        color:wheat ;
    }
    a{
        background-color: green;
        border-color:green ;
        margin-top: -40px;
    }
   svg{
    color: aliceblue;
    margin-top: -40px;

   }
}
.row{
    justify-content: space-between;
    margin-left: 30px;
    row-gap: 15px;
}
.card {
    overflow: hidden;
    border-color: black;
     
}
.card-img-top {
        transition: transform 0.2s;
    }
    .card-img-top:hover {
        transform: scale(1.1); 
        
    }


    
