
.top-bar{
    background-color: gray;
}
.top-bar-inner{
    display: flex;
    align-items: center;
    padding: 3px 10px;
    justify-content: space-between;
}
.top-bar ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}
.top-bar ul li a{
    padding: 5px;
}
.top-bar-inner-icons {
    display: flex;
}
.top-bar-inner-icons span {
    align-items: center;
}



.mid-bar{
    display: flex;
    justify-content: space-between;
}
.header-logo img{
    width: 200px;
    height: 100px;

}

.navbaar {
    font-size: large;
    border-radius: 28px;
    padding: 2px;
    margin-top: 10px;
    color: white;
  }
  .navbaar ul li :hover{
    padding: 12px;
    color: green !important;
  }
  

  